.panel{
  border: none;
  background-color: transparent;
  margin-bottom:0px;
}
.form-container{

  width:80%;
  padding:20px;
  margin: 0px auto;
}
#form{
  width: 100%;
  background-color:@fifth;
  color: white;
  .text-shadow;
  input[type=text] {
    width: 100%;
    padding: 50px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    }
  }
