.imgmodal {
  display: none;
  position: fixed;
  z-index:100;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: rgba(0,0,0,.85);
  margin: 0 auto !important;
  transition: all .5s;
  h2{
    color:white;
  }
  .imgmodal-content {
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top:100px;
    div{
      box-sizing: content-box;
      width: 50%;
      align-self: center;
      // box-shadow: 1px 2px 100px 1000px rgba(0,0,0,.6);
      img {
        width: 100%;
        border-radius:10px;
      }
    }
    a{
      float:right;
      align-self: flex-start;
      width: 50px;
      height: 50px;
      padding-left: 20px;
      margin-top: -10px;
      color: @white-link;
      font-size: @base-font-size*1.8;
      text-decoration: none;
      transition: all .5s;
      z-index:20;
      transition: all .5s;
      cursor:pointer;
      &:hover {
        color: @white-link-hover;

      }
    }
  }
}
