doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto", rel="stylesheet")
    link(href="Styles/styles.css", rel="stylesheet")
    script(src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
    title

  body
    include ./Sections/WhateIfHeader/whatif.jade
    include ./Sections/double/double.jade


    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="scripts/scrollreveal-site.js")
