doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Poppins|Roboto", rel="stylesheet")
    link(href="Styles/styles.css", rel="stylesheet")
    title

  body
    #toggle-navigation
      input(type="checkbox" id="toggle-navigation-menu")
      toggle-test  
        #toggle-navigation-menu
          ul
        label(for="toggle-navigation-menu")
            
    include ./Sections/WhateIfHeader/whatif.jade
    section#first
      include ./Sections/kingswood/kingswood.jade
    include ./Sections/single/single.jade

    .whatiftop
      h1 What If....
    
    include Modules/image_gallary_modal.jade
    

    script(src="https://code.jquery.com/jquery-3.2.1.js")
    script(src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="scripts/scrollreveal-site.js")
    script(src="scripts/header.js")
