section#whatif {
  background:
    url('https://admin.covumc.com/Content/capitalCampaign/images/churchfront.png');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  width: 100%;
  height:100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
  z-index: 1;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  .bounce-container{
    position:relative;
    clear:left;
    // transform: translate(-50%);
    padding: 5px 20px ;
    animation: bounce 3s ease-in-out infinite;
    font-size:@base-font-size*3;
    letter-spacing: 5px;
    cursor: pointer;
    p{
      color:rgba(255,255,255,.85) !important;


      &:hover{
        color:rgba(255,255,255,1) !important;
      }
    }

  }
  a {
    border: rgba(255,255,255,.85) solid 4px;
    border-radius: 10px;
    margin-top: 20px;
    color:rgba(255,255,255,.85) !important;


    &:hover{
      color:rgba(255,255,255,1) !important;
      border: rgba(255,255,255,1) solid 4px;
    }
  }
  h1 {
    font-family: @heading;
    font-size: @base-font-size*3;
    color:#fff;
    padding: 50px;
    text-align:center;
    // margin: 85px auto;
    z-index:2;
    line-height: @base-font-size*1.5;
    .text-shadow;
    // padding:10px;
    margin: 0px 50px;
  }

  strong {
    font-size: @base-font-size*1.4;
    font-weight: normal;
    text-transform: uppercase;
  }
  }
  .overlay {
    position: absolute;
    background: fade(@main,85%);
    top:0;
    left:0;
    bottom: 0;
    right: 0;
}
}
@keyframes bounce {
  0% {padding: 5px 25px };
  30% {padding: 5px 48px };
  50% {padding: 5px 40px };
  70% {padding: 5px 45px };
}
