section#whatif
  .overlay
  .content
    h1#main 
      strong Covenant Church Imagines
      br
      br
      a(href="#" id="whatifbutton")
        .btn
          .bounce-container
            p What If...
          
        
      
