
.doublesection {
  position:relative;
  padding-top: 100px;
  padding-bottom: 20px;
  color: #000;
  background-color: @fill;
  font-smoothing: antialiased;
  transform-style: preserve-3d;
  ul li {
    line-height: @base-font-size *1.9;
  }
  // font-size: @base-font-size*.01;
  // .overlay {
  //     position: absolute;
  //     background: fade(@second, 82%);
  //     top:0;
  //     left:0;
  //     bottom:0;
  //     right: 0;
  //     overflow:hidden;
  //     width:100%;
  //
  //   }
  // .overlay:after {
  //     content: "";
  //     position: absolute;
  //     width: 10000%;
  //     height: 10000%;
  //     top: -3000%;
  //     left: -5000%;
  //     z-index: -1;
  //     background: url('https://admin.covumc.com/Content/capitalCampaign/images/pattern.jpg') ;
  //     background-size: 80px 80px;
  //       transform: rotate(45deg);
  //       filter:brightness(100%);
  //       // filter: invert(100%);
  //       filter:contrast(20%);
  //
  // }
  h2 {
    font-family: @heading;
    font-size: @base-font-size*3;
    // color:#fff;
    text-align:center;
    z-index:2;
    line-height: @base-font-size*1.0;
    .text-shadow;
    // padding:10px;
    padding-top:0;
    // margin:15px;
  }

  .left,.right {
    // color: white;
    text-align: center;
    font-size: @base-font-size*1.5;
    padding: 10px 0px;

  }
  .left {
    margin-right: 0px;
  }
  .right{
    margin-left: 0px;
    text-align: left;
    flaot: right;
    li{
      padding-bottom: 15px;
      line-height: @base-font-size*1.3;
    }
  }
  .double-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


    div{
      width: 50%;
      padding: 10px;
      transition: all .5s;
      &:hover{
        transform: scale(1.05) rotate(2deg);
      }
      &:hover:nth-child(even){
        transform: scale(1.05) rotate(-2deg);
      }

    img {
      width: 100%;
      height: auto;
      .dropshadow;
      border-radius: 4px;
      cursor:pointer;
    }
    }}

}
  /* The Modal (background) */
