section.doublesection
  .overlay
  .container
    .row
      .col-md-12.col-sm-12
        h2.doubletitle ...we renovated Kingswood?
    .row
      .col-md-6.col-sm-12.left
        .left.double-left.images
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/1-Kingswood/kingswood1.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/1-Kingswood/kingswood2.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/1-Kingswood/kingswood3.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/1-Kingswood/kingswood4.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/1-Kingswood/kingswood5.png", onclick="openimg();showPicture(this.src,this.alt)")

      .col-md-6.col-sm-12.right
        .right
          ul
            li ENHANCED ACOUSTICS will allow  for more focus and events 
            li AIR CONDITIONING will allow  for summer ministry  
            li HANDICAP BATHROOMS will serve any and all who need them
            li FIXING THE CEILING will invite volleyball and youth activities  
            li FIXING A BOUNCY FLOOR will provide multi-use capabilities 
