section#double
  .overlay
  .row
    .col-md-12.col-sm-12
      h2#doubletitle Test
  .row
    .col-md-6.col-sm-12
      .left#double-left
        p left
    .col-md-6.col-sm-12
      .right
        p right
