section#double
  .overlay
  .row
    .col-md-12.col-sm-12
      h2#doubletitle Test
  .row
    .col-md-6.col-sm-12#left
      .left#double-left
        img(src="http://placehold.it/350x250")
    .col-md-6.col-sm-12#right
      .right
        ul
          li Eadem nunc mea adversum te oratio est.
          li Positum est a nostris in iis esse rebus, quae secundum naturam essent, non dolere;
          li Qui bonum omne in virtute ponit, is potest dicere perfici beatam vitam perfectione virtutis;
          li Tenesne igitur, inquam, Hieronymus Rhodius quid dicat esse summum bonum, quo putet omnia 
          li Sic enim censent, oportunitatis esse beate vivere.
