section.doublesection
  .overlay
  .container
    .row
      .col-md-12.col-sm-12
        h2.doubletitle ...we install an Elevator?
    .row
      .col-md-6.col-sm-12.left
        .left
          ul
            li FOUR FLOORS in the church will be wheelchair accessible
            li SERVICING EVENTS will be easier  
            li EVERYONE can use Fellowship Hall
            li LESS TIME will be used moving between levels
            li GREATER SECURITY for those with accessibility limitations

             
      .col-md-6.col-sm-12.right
        .right.images
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/4-elevator/elevator1.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/4-elevator/elevator2.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/4-elevator/elevator3.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/4-elevator/elevator4.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/4-elevator/elevator5.png", onclick="openimg();showPicture(this.src,this.alt)")
