section.doublesection
  .overlay
  .container
    .row
      .col-md-12.col-sm-12
        h2.doubletitle ...we renovated Epworth?
    .row
      .col-md-6.col-sm-12.left
        .left
          ul
            li MOBILITY-IMPAIRED children and parents will have access to lower level
            li CHILDREN'S SAFETY will increase
            li SAFE SANCTUARIES UMC policy will be honored
            li CHILDREN'S MINISTRY can  focus on and accommodate new growth  
            li CHILDREN'S CLEAN-UP after lessons will be easier

             
      .col-md-6.col-sm-12.right
        .right.images
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/2-Epworth/download.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/2-Epworth/Epworth2.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/2-Epworth/Epworth3.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/2-Epworth/Epworth4.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/2-Epworth/Epworth5.png", onclick="openimg();showPicture(this.src,this.alt)")
