section.doublesection
  .overlay
  .container
    .row
      .col-md-12.col-sm-12
        h2.doubletitle ...we renovated the Office leve?
    .row
      .col-md-6.col-sm-12.left
        .left.double-left.images
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/5-office-level/office-level1.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/5-office-level/office-level2.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/5-office-level/office-level3.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/5-office-level/office-level4.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/5-office-level/office-level5.png", onclick="openimg();showPicture(this.src,this.alt)")

      .col-md-6.col-sm-12.right
        .right
          ul
            li VULNERABLE PEOPLE won't get stuck at the door 
            li EVERYONE can access the Church Office
            li COUNSELING CENTER will be more welcoming
            li CHURCH WORKERS will have a welcoming environment
            li BATHROOMS will be ADA Compliant
