section.doublesection
  .overlay
  .container
    .row
      .col-md-12.col-sm-12
        h2.doubletitle ...we increased parking?
    .row
      .col-md-6.col-sm-12.left
        .left.double-left.images
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/3-parking/Parking-1.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/3-parking/Parking-2.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/3-parking/Parking-3.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/3-parking/Parking-4.png", onclick="openimg();showPicture(this.src,this.alt)")
          div
            img(src="https://admin.covumc.com/Content/capitalCampaign/images/buildingPosters/3-parking/Parking-5.png", onclick="openimg();showPicture(this.src,this.alt)")

      .col-md-6.col-sm-12.right
        .right
          ul
            li TRAFFIC won't back-up during Nursery School drop-off and pick-up times
            li CHILDRENS' SAFETY will increase
            li VISITORS won't drive-by when no parking is available
            li MULTIPLE MINISTRIES can be held during  overlapping times
            li VEHICLE DAMAGE will decrease on-street and in the parking lot
