
// Fonts
@heading: 'Poppins', sans-serif;
@text: 'Roboto', sans-serif;
@base-font-size: 1em;

// Colors
@main: rgba(94, 53, 177, 1);
@second: darken(@main, 15%);
@third: #27057f;
@accent: #ab47bc;
@fill: #E1E2E1;


@white-link: rgba(255,255,255,.80);
@white-link-hover: rgba(255,255,255,1);

//Box Shadow
.dropshadow{
  box-shadow: 1px 1px 10px 1px rgba(0,0,0, .5);
}
.text-shadow{
    text-shadow: 2px 2px 30px rgba(0,0,0, .3);
}

.row {
  margin: 0px;
}

.container-fluid {
  padding:0;
  margin:0;
}
body {
  padding:0;
  margin:0;
  font-family: @text;
  position:relative;
}
// h1,h2,h3,h4,h5,h6 {
//   padding: 0 !important;
// }

.whatiftop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  z-index: 500;
  padding: 7px;
  color: white;
  background-color: fade(@main,98%);
  position: fixed;
  .dropshadow;
  opacity: 0;
  transition: all .5s;
  z-index: 2;

  h1 {
    font-family: @heading;
    font-size: 48px;
    color:#fff;
    text-align:center;
    // margin: 85px auto;
    z-index:2;
    // line-height: 100px;
    .text-shadow;
  }
}

img {
  .dropshadow;
}

@import "../Sections/WhateIfHeader/whatif.less";
@import "../Sections/section.less";
@import "../Sections/areas/quote.less";
@import "../Modules/toggle-nav.less";
@import "../Modules/form.less";
@import "../Modules/image_gallary.less";



@media screen (max-width: 500px) {
    section#whatif  {
      height: 25vh;
    }
}
#move-navigation{
  display:none;
}

.alert-success {
  color: darken(@fill, 50%);
  background-color: transparent;
  font-size: @base-font-size*1.65;
  text-shadow: none;
  border: none;

}
.container_full{
  background-color: @fill;
  section {
    padding-top:40px;
  }
  &section:first-of-type{
      // padding-top: 110px !important;
  }

}
section#first{
      padding-top: 60px;
}
.btn-primary{
  background-color:white;
  width: 75%;
}
.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
